.articleWrapper {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  &__ul {
    width: 100%;
    overflow-x: auto;
    display:  flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    overflow-y: hidden;

    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;

      height: 32px;
      border-radius: 100px;
      flex: none;
      flex-grow: 0;
      font-size: 12px;
      font-weight: 700;
      color: $--color-text;
      background: $--color-menu-bg-color;
    }
    .active__li {
      background: $--color-btn-background;
      color: $--color-btn-font-color;
    }
  }
}
