//font-size
$--huge-title-font-size: 72px;
$--display-title-font-size: 48px;
$--title-1-font-size: 32px;

$--body-font-size: 16px;

$--caption-1-font-size: 14px;
$--caption-2-font-size: 12px;



// font-weight
$--font-weight-bold: 700;
$--font-weight-medium: 500;
$--font-weight-regular: 400;

// background-color

$--bg-color-light: #fff;
$--bg-color-dark: #1A1B1F;

$--bg-color-brand: #F8D3E1;
$--bg-color-content-A: rgba(255, 255, 255, 0.1);
$--bg-color-content-B: rgba(255, 255, 255, 0.6);
$--bg-color-content-C: rgba(255, 255, 255, 0.5);

// color
$--color-brand-dark: #F8D3E1;
$--color-primary-light:#FFFFFF;
$--color-primary-dark: #1A1B1F;





